<style>
    .post {
        width:1000px;
        height:100%;
        margin-left:200px;
        margin-top:60px;
        background-color:white;
        font-family:"Microsoft YaHei", "微软雅黑" ! important;
        font-size:16px;
    }
    .post h1{
        color:red;
    }

    #allmsg {
        margin-top:50px;
        margin-left:170px;
    }

    .input-col {
        margin:10px 20px;
        margin-left:250px;
        padding:20px;
    }
    .controls input {
        margin-left:20px;
        padding-left:10px;
        height:30px;
        width:300px;
        font-size:16px;
    }
    #item-detail {
        margin-left:20px;
        padding-left:10px;
        width:300px;
        font-size:14px;
    }

    .control-label {
        font-size:18px;
    }

    select {
        margin-left:20px;
        height:35px;
        width:320px;
        font-size:16px;
    }
    .em4 {

        font-size:18px;
        color:white;
    }
    #picture {
        margin-top:5px;
    }

</style>

<div class="post">

        <h1>发布商品</h1>
    <form id="allmsg" class="form-horizontal">
           <div class="control-group">
            <label class="control-label" for="item-name">商品名称</label>
            <div class="controls">
            <input  class="input-xlarge" id='item-name' type="text" ng-model="item.name" placeholder="商品名称" required>
               </div>
          </div>



        <div class="control-group">
            <label class="control-label" for="item-location">交易地址</label>
            <div class="controls">
                <input  id='item-location' type="text" ng-model="item.location"  placeholder="交易地址" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="item-price">商品价格</label>
            <div class="controls">
                <input  id='item-price' type="text" ng-model="item.price"  placeholder="商品价格" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="item-price">商品类型</label>
            <div class="controls">
                <select ng-model="item.category" required>
                    <option value="" disabled selected >商品类型（必选）</option>
                    <option value="闲置数码">闲置数码</option>
                    <option value="校园代步">校园代步</option>
                    <option value="电器日用">电器日用</option>
                    <option value="图书教材">图书教材</option>
                    <option value="美妆衣物">美妆衣物</option>
                    <option value="运动棋牌">运动棋牌</option>
                    <option value="其它">其它</option>
                </select>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="item-phone">手 机</label>
            <div class="controls">
                <input  id='item-phone' type="text" ng-model="item.tel"  pattern="[0-9]{11}" placeholder="手机号" required>
            </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="item-qq">Q Q</label>
        <div class="controls">
            <input  id='item-qq' type="text" ng-model="item.qq"  placeholder="QQ" required>
        </div>
       </div>

        <div class="control-group">
            <label class="control-label" for="item-weixin">微 信</label>
            <div class="controls">
                <input  id='item-weixin' type="text" ng-model="item.weixin"  placeholder="微信号" required>
            </div>
        </div>



        <div class="control-group">
            <label class="control-label" for="item-detail">商品详情</label>
            <div class="controls">
                <textarea rows="3" id='item-detail'  ng-model="item.detail"  placeholder="商品详情" required></textarea>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">
                <button  ng-click="upload()" type="button" class="btn btn-primary " >上传图片</button></label>
            <div class="controls">
        <form id="form" style=""  enctype="multipart/form-data" >
        <div id="upload-img">
            <input class='img input-medium ' id='picture' name="picture" type="file" accept="image/*" multiple >
        </div>
        </form>
           </div>
            <div id="showPic"  style="margin-left:200px;"></div>
            </div>


        <button style="margin-left:400px;width:150px;" ng-click="publish()" class="btn btn-danger btn-large">
            <em class="em4">立即发布</em>
        </button>
        <div ng-show="err" ng-bind="err" style="color:red;margin-left:600px;margin-top:-30px;"></div>



    </form>
</div>